a {
  transition: all 1s ease-out;
}

.content {
  max-width: 960px;
  margin: auto;
  padding: 2em;
}

.smallIcon {
  height: 1em;
}

.navigation {
  margin: 1em auto;
  align-items: center;
}
.navigation div {
  order: 5;
}

.navigation ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.navigation li {
  display: inline;
  margin: 0.5em;
}
.sizeLogo {
  order: 5;
}
.sizeLogo img {
  border-radius: 2.5em;
  height: 5em;

  margin: auto;
  display: block;
}

.sectionContentFill {
  margin: 1em auto;
  display: flex;
  flex-direction: row;
}

.sectionContentFill div {
  flex: 1;
}

.flexCols {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.centerImg {
  margin: auto 0.7em;
}

.centerImg img {
  display: block;
  width: 100%;
}

.sectionContent {
  margin: 1em auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.icon img {
  width: 4em;
}

.borderTop {
  border-top: 1px solid var(--main-fg-color);
}

/* MOBILE */
@media screen and (max-width: 480px) {
  .navigation {
    flex-direction: column;
    column-gap: 0px;
  }
  .navigation li {
    display: block;
    text-align: center;
    margin-top: 0.2em;
  }

  .sizeLogo {
    order: 1 !important; /* Move image on top in mobile view */
  }
  .icon img {
    width: 8em;
  }
  .sectionContentFill {
    flex-direction: column;
  }
  .sectionContent {
    flex-direction: column;
  }
}
